<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fancymeet.todo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3301BDDC-F393-4DCC-9DFB-7F024EAEB6BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75214EAB-40DB-4557-80E8-78F4AAAAF005</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69EE2479-7453-479F-AA23-B7075CB9AB31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8E13201-A3F6-4D51-92C2-5D85B213FFC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9660678B-246B-49FF-A169-9B733073D5D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A88C64-FBA0-4DB9-9965-75AFB9824548</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA14DC87-8C6B-4FBF-88C3-7507C3AC5A6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9660678B-246B-49FF-A169-9B733073D5D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8E13201-A3F6-4D51-92C2-5D85B213FFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E160DD91-67C4-4481-A9C0-085C869CDD02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C166FE96-3E32-429C-89AD-11326635BB7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3301BDDC-F393-4DCC-9DFB-7F024EAEB6BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E160DD91-67C4-4481-A9C0-085C869CDD02</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E160DD91-67C4-4481-A9C0-085C869CDD02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tocheck</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>type to search and check</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69EE2479-7453-479F-AA23-B7075CB9AB31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node write.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8E13201-A3F6-4D51-92C2-5D85B213FFC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>type your todo item</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C166FE96-3E32-429C-89AD-11326635BB7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node append.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3301BDDC-F393-4DCC-9DFB-7F024EAEB6BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75214EAB-40DB-4557-80E8-78F4AAAAF005</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toedit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>type to edit your To-do List file path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA14DC87-8C6B-4FBF-88C3-7507C3AC5A6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F9A88C64-FBA0-4DB9-9965-75AFB9824548</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>103</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node config.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9660678B-246B-49FF-A169-9B733073D5D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3301BDDC-F393-4DCC-9DFB-7F024EAEB6BE</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>69EE2479-7453-479F-AA23-B7075CB9AB31</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>75214EAB-40DB-4557-80E8-78F4AAAAF005</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>9660678B-246B-49FF-A169-9B733073D5D8</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>AA14DC87-8C6B-4FBF-88C3-7507C3AC5A6E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>B8E13201-A3F6-4D51-92C2-5D85B213FFC4</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C166FE96-3E32-429C-89AD-11326635BB7F</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E160DD91-67C4-4481-A9C0-085C869CDD02</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F9A88C64-FBA0-4DB9-9965-75AFB9824548</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
